.wrapper{
  width: 1200px;
  height: 6000px;
  background: black;
}

#website_g_1{
	color:white;
	word-spacing: 50px;
	letter-spacing: 100px;
}
#website_g_2{
	color:white;
	word-spacing: 35px;
	letter-spacing: 80px;
}
#website_g_3{
	color:white;
	word-spacing: 25px;
	letter-spacing: 60px;
}
#website_g_4{
	color:white;
	word-spacing: 10px;
	letter-spacing: 30px;
}
#website_g_5{
	color:white;
	word-spacing: 5px;
	letter-spacing: 10px;
}
#website_g_6{
	color:white;
	word-spacing: 2px;
	letter-spacing: 5px;
}

